<div class="row" ngPreserveWhitespaces>
  <div class="col-xs-12">
  <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->

<!-- Inline CSS based on choices in "Settings" tab -->

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->

<!-- Inline CSS based on choices in "Settings" tab -->

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->

<div class="bootstrap-iso mx-auto" style="margin-top:20px;padding: 20px;">
  <h3>{{title}}</h3>
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-8 col-sm-8 col-xs-8 mx-auto">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" method="post">

     <div class="row">
     <div class="form-group col-md-4">
      <label class="control-label requiredField" for="FirstName">
       First Name
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="FirstName" formControlName="FirstName" placeholder="First Name" type="text"/>
     </div>
     <div class="form-group col-md-4">
      <label class="control-label " for="MiddleName">
       Middle Name
      </label>
      <input class="form-control" id="MiddleName" formControlName="MiddleName" placeholder="Middle Name" type="text"/>
     </div>
     <div class="form-group col-md-4 ">
      <label class="control-label requiredField" for="Surname">
       Surname
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="Surname" formControlName="Surname" placeholder="Surname" type="text"/>
     </div>
    </div>


     <div class="form-group ">
      <label class="control-label requiredField" for="email">
       Email <span><small>(Custodian registered email)</small></span>
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="email" formControlName="email" placeholder="Email" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="MobileNo">
       Mobile No
      </label>
      <input class="form-control" id="MobileNo" formControlName="MobileNo" placeholder="Mobile No" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="casetitle">
       Case Title
      </label>
      <input class="form-control" id="casetitle" formControlName="casetitle" placeholder="Enter Case Title" type="text"/>
     </div>




     <div class="form-group" id="div_Gender">
      <label class="control-label " for="Gender">
        What product do you need help with?
      </label>
      <div class="">
       <label class="radio-inline" *ngFor="let c of caseService[0][title]">
        <input formControlName="policyProduct" type="radio" value="{{c}}"/>
        {{c}}
       </label>

      </div>
     </div>
<input title="policy" type="hidden" name="policy"/>
     <div class="form-group ">
      <label class="control-label " for="caseDeatils">
       Details of case
      </label>
      <textarea class="form-control" id="caseDeatils" formControlName="caseDetails" placeholder="Details of case">
        </textarea>
     </div>
     <div class="form-group">
      <div>
       <button class="btn btn-primary " name="submit" type="submit">
        Submit
       </button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>


  </div>

</div>
